body {
    line-height: 1.2;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

.form-input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

input{types: "date";
    width: 60%;}