* {
    box-sizing: border-box;
}
.title{
    font-family: Arial, Helvetica, sans-serif, Ubuntu;
    font-size: 32px;
    font-weight: bold;
}

.box {
    width: 300px;
    
    border: 3px dotted black;
    

    padding-left: 5px;
    margin-left: 10px;
}
.side{
    width: 400px;
    min-height: 200px;

    border: 3px solid black;

    padding-left: 5px;
    margin-left: 10px;
    margin-top: 20px;
}