* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
    background-color: #C4170C;
}

.container {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.menu-item {
    padding: 0;
}

.menu-item:first-child {
    padding-left: 0;
}

.menu-item:last-child {
    padding-right: 0;
}

.box-link {
    display: block;
}

.menu-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.globo-com {
  color: #0669DE;
}

.g1-com {
  color: #C4170C;
}

.ge {
  color: #06AA48;
}

.globoplay {
  color: #FB0334;
}

.jogos {
  color: #A5147D;
}

.o-globo {
  color: #1E4C9A;
}

.first-news {
    border-width: 1px;
    border-style: solid;
    border-color: #C4170C;
    border-radius: 8px;
    padding: 24px;
    background-color: lightgray;
}

.second-news {
    border-width: 1px;
    border-style: solid;
    border-color: #C4170C;
    border-radius: 8px;
    padding: 24px;
    background-color: lightgray;
    margin-bottom: 12px;
}