* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica,sans-serif;
}

.asdf {
    width: 200px;
    height: 250px;
    background-color: red;
    border: 1px solid red;
}

img {
    width: 100%;
}

p {
    /* font-size: 0.625rem;
    font-size: .75rem; */
    font-size: 2.875rem;
}

.container {
    margin: 0 auto;
    border: 1px solid red;
}

@media(max-width: 390px) {
    .container {
        width: 90%;
    }
}

@media(min-width: 810px) {
    .container {
        width: 80%;
    }
}

.container {
    width: 60%;
}

/* @media(min-width: 769px) { 
}
@media(min-width: 391px) and (max-width: 768px) {
} */