.box {
    width: 450px;
    height: 250px;
    background-color: rgb(73, 139, 79);
    border: 4px solid rgb(35, 35, 35);
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
}

.title {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
}