#title {
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    font-weight: bold;
}

.paragrafo-01 {
    color: rgba(9, 0, 136, 1);
    font-size: 20px;
    font-weight: bold;
}

.paragrafo-02 {
    color: rgba(168, 0, 0, 1);
    font-size: 15px;
    font-weight: bold;
}