:root {
    --color--primary: red;
    --color--secondary: blue;
    --size-large: 30%;
    --size-medium: 20%;
    --font-base: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

img {
    object-fit: contain;
}

body {
    font-family: Arial, Helvetica;
}

.block {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    background-color: var(--color--primary);
    width: 300px;
    height: 300px;
}

.internal {
    z-index: 20;
    top: 10px;
    left: 0px;
    position: absolute;
    background-color: var(--color--secondary);
    width: var(--size-medium);
    height: var(--size-medium);
}

.internal2 {
    z-index: 10;
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 0;
}

.notes {
    top: 50px;
    right: 20px;
    position: sticky;
    background-color: green;
    width: 200px;
    height: 200px;
}

#panel {
    top: 0;
    right: -100%;
    position: fixed;
    height: 100vh;
    width: 30vw;
    background-color: black;
    color: white;
    transition: right 0.3s ease-in-out;
    
    &.open {
        right: 0;
    }
}

